	body {
		SCROLLBAR-FACE-COLOR: #99CC99;
		SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
		SCROLLBAR-SHADOW-COLOR: #7F7F7F;
		SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;
		SCROLLBAR-ARROW-COLOR: #003926;
		SCROLLBAR-TRACK-COLOR: #003926;
		SCROLLBAR-DARKSHADOW-COLOR: #0033CC;
	}
